<%= form_for(@task) do |t| %>
  <p><%= t.label :title %></p>
  <p><%= t.text_field :title %></p>
  <p><%= t.label :details %></p>
  <p><%= t.text_field :details %></p>
  <p><%= t.check_box :completed %></p>
  <p><%= t.submit %></p>
<% end %>
